body {

}

object{
	width:0;
	height: 0;
}

canvas{
	position: absolute;
	background: -webkit-gradient(linear,left top,right bottom, from(#EEE9BF),to(#EEC591));
	width: 800px;
	height: 600px;
	top: 100px;
	left: 60px;
	-webkit-border-radius: 20px;
}

#con{
	position: absolute;
	background: black;
	width: 1000px;
	height: 800px;
	top: 100px;
	left: 260px;
	-webkit-border-radius: 20px;
}
